.fullscreen {
    @include adaptiv-value("padding-bottom", 213, 80, 1);
    @media (max-width: ($md4+px)) {
        min-height: auto;
        // padding-bottom: 100px;
    }
    // .fullscreen__container
    &__container {
        // @include adaptiv-value("padding-bottom", 292, 110, 1);
        // padding-bottom: 0;
        overflow: hidden;
        position: relative;
        @include adaptiv-value("margin-bottom", 79, 60, 1);
        @media (max-width: ($md4+px)) {
            min-height: 100vh;
            margin: 0px 0px 100px 0px;
        }
    }
    // .fullscreen__content
    &__content {
        padding-top: 88px;
        // padding-top: 40px;
        padding-bottom: 8px;
        // @include adaptiv-value("padding-top", 119, 88, 1);
        @media (max-width: ($md3+px)) {
            padding: 50px 0px 43px 0px;
        }
    }
    // .fullscreen__content-wrapper
    &__content-wrapper {
    }
    // .fullscreen__title
    &__title {
        @include adaptiv-value("font-size", 110, 60, 1);
        @include adaptiv-value("margin-bottom", 13, 4, 1);
        -webkit-text-stroke: 2px #000000;
        letter-spacing: 0.005em;
        font-weight: 700;
    }
    // .fullscreen__subtitle
    &__subtitle {
        @include adaptiv-value("font-size", 60, 34, 1);
        line-height: 140%;
        margin: 0px 0px 6px 0px;
        font-weight: 700;
        letter-spacing: 0.025em;
        @media (max-width: ($md3+px)) {
            margin: 0px 0px 16px 0px;
        }
    }
    // .fullscreen__text
    &__text {
        font-size: 18px;
        margin: 0px 0px 40px 0px;
        line-height: 140%;
        @media (max-width: ($md3+px)) {
            font-size: 16px;
            margin: 0px 0px 30px 0px;
        }
    }
    // .fullscreen__button
    // .fullscreen__cat
    &__cat {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        &-coin{
            display: none;
        }
        @media (max-width: ($md3+px)) {
            @keyframes up-down-1 {
                0% {
                    top: 0;
                    width: 50px;
                    height: 50px;
                    transform: rotate(-60deg);
                }
                100% {
                    top: 1000px;
                    width: 25px;
                    transform: rotate(30deg);
                    height: 25px;
                    width: 18px;
                }
            }
        }
        &-animation {
            position: relative;
            z-index: 90;
            display: flex;
            align-items: center;
            align-items: flex-end;
            svg {
                transform: scaleX(1);
                transition: 0.4s ease;
            }
            &.is-scale {
                .fullscreen__cat-svg {
                    order: 1;
                }
                .fullscreen__cat-truck {
                    left: auto;
                    right: 20px;
                    order: 2;
                    &::after{
                        left: auto;
                        right: 0;
                    }
                    @media (max-width: ($md3+px)) {
                        right: 2vw;
                    }
                }
                svg {
                    transform: scaleX(-1);
                }
            }
        }
        &-truck {
            position: relative;
            left: 20px;
            z-index: 20;
            display: block;
            &::after{
                content: '';
                width: calc(100% - 35px);
                height: calc(100% - 20px);
                z-index: -1;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                background:#0174ff;
                position: absolute;
                top: 20px;left: 0;
                @media (max-width: ($md3+px)) {
                    width: calc(100% - 15px);
                    height: calc(100% - 10px);
                    height: calc(100% - 10px);
                    top: 10px;
                }
            }
            .coins-item {
                opacity: 0;
            }
            @media (max-width: ($md3+px)) {
                left: 2vw;
                svg {
                    width: 87px;
                    height: auto;
                }
            }
        }
        &-svg {
            z-index: 1;
            .js-cat-eye{
                transition: opacity .2s linear !important;
            }
            
            .js-cat-eye-2{
                display: none;
                display: block;
                transition: opacity .1s linear !important;
            }
            .stroke-white {
                // opacity: 0;
                stroke-width: 3px;
                stroke: #fff;
            }
            @media (max-width: ($md3+px)) {
                svg {
                    width: 81px;
                    height: auto;
                }
            }
            .cat-wheel {
                z-index: -1;
            }
        }
    }
    // .fullscreen__cat-body
    &__cat-body {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    // .fullscreen__cat-cat
    &__cat-cat {
        @media (max-width: ($md3+px)) {
            max-width: math.div(230, 335) * 100%;
        }
        img,
        video {
            max-width: 100%;
        }
    }
    // .fullscreen__cat-animation
    &__cat-animation {
        // min-width: 230px;
        @media (max-width: ($md3+px)) {
            max-width: math.div(230, 335) * 100%;
        }
        img,
        video {
            max-width: 100%;
        }
    }
    // .fullscreen__cat-line
    &__cat-line {
        position: relative;
        z-index: 10;
        background: $blueColor;
    }
}
