.header {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    &._scroll {
        .header__wrapper {
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        }
    }
    // .header__wrapper
    &__wrapper {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: #fff;
        transition: box-shadow 0.3s ease 0s;
    }
    // .header__container
    &__container {
    }
    // .header__body
    &__body {
        display: flex;
        align-items: center;
        min-height: 72px;
        font-family: $fontInter;
        @media (max-width: ($md2+px)) {
            min-height: 60px;
        }
    }
    // .header__main
    &__main {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
    }
    // .header__logo
    &__logo {
        margin: 0px 58px 0px 0px;
        width: 162px;
        flex: 0 0 162px;
        @media (max-width: ($md2+px)) {
            width: 127px;
            flex: 0 0 127px;
            margin: 0px 30px 0px 0px;
            position: relative;
            z-index: 10;
            max-height: 60px;
        }
        img {
            max-width: 100%;
        }
    }
    // .header__menu
    &__menu {
    }
    // .header__action
    &__action {
        display: flex;
        align-items: center;
        .btn {
            font-family: $fontFamily;
            @media (min-width: ($md3+px)) {
                // min-height: 44px;
            }
        }
    }
    // .header__language
    &__language {
        @media (min-width: ($md2+px)) {
            margin: 0px 40px 0px 0px;
        }
    }
    // .header__button
    &__button {
        margin: 0px 20px 0px 0px;
        min-width: 144px;
        font-size: 16px;
        min-height: 44px;
        @media (max-width: ($md2+px)) {
            position: relative;
            z-index: 10;
        }
        @media (max-width: ($md4+px)) {
            min-width: 120px;
            padding: 9px 14px;
            min-height: 40px;
        }
    }
    // .header__login
    &__login {
        @media (min-width: ($md3+px)) {
            min-width: 98px;
            font-size: 18px;
            border-radius: 8px;
            border: 2px solid $mainColor;
            padding: 8px 12px;
            min-height: 44px;
        }
        @media (max-width: ($md2+px)) {
            position: relative;
            z-index: 10;
            margin: 0px 22px 0px 0px;
        }
        @media (max-width: ($md3+px)) {
            background-color: $blueColor;
            color: #fff;
            margin: 0px 0px 0px 0px;
        }
    }
    // .header__profile
    &__profile {
    }
    // .header__icon
    &__icon {
    }
}

.menu {
    @media (max-width: ($md2+px)) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        // left: 0;
        left: -100%;
        background-color: #fff;
        z-index: 5;
        padding: 100px 20px 30px 20px;
        overflow: auto;
        font-size: 20px;
        transition: left 0.3s ease 0s;
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 60px;
            top: 0;
            // left: 0;
            left: -100%;
            z-index: 30;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
            background-color: #fff;
            transition: left 0.3s ease 0s;
        }
        &._active {
            left: 0;
            &::before {
                left: 0;
            }
        }
    }
    // .menu__body
    &__body {
        @media (max-width: ($md2+px)) {
            display: grid;
            gap: 36px;
            justify-content: center;
        }
    }
    // .menu__list
    &__list {
        display: flex;
        align-items: center;
        @media (max-width: ($md2+px)) {
            flex-direction: column;
        }
    }
    // .menu__item
    &__item {
        line-height: 156%;
        // font-weight: 500;
        @media (max-width: ($md2+px)) {
            font-size: 20px;
            line-height: 140%;
        }
        &:not(:last-child) {
            margin: 0px 40px 0px 0px;
            @media (max-width: ($md2+px)) {
                margin: 0px 0px 36px 0px;
            }
        }
    }
    // .menu__link
    &__link {
        color: inherit;
        position: relative;
        @media (any-hover: hover) {
            transition: all 0.3s ease 0s;
            &:hover {
                &::after {
                    width: 100%;
                }
            }
            &::after {
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                top: 100%;
                left: 0;
                background-color: $blueColor;
                transition: width 0.3s ease 0s;
            }
        }
    }
    // .menu__language
    &__language {
        @media (min-width: ($md2+px)) {
            display: none;
        }
    }
    // .menu__login
    &__login {
        margin: 40px 0px 0px 0px;
        padding: 60px 0px 0px 0px;
        display: flex;
        justify-content: center;
        border-top: 1px solid #e9e9e9;
        @media (min-width: ($md3+px)) {
            display: none;
        }
    }
    // .menu__profile
    &__profile {
        display: grid;
        justify-content: center;
        padding: 0px 0px 40px 0px;
        margin: 0px 0px 40px 0px;
        border-bottom: 1px solid #e9e9e9;
        @media (min-width: ($md2+px)) {
            display: none;
        }
    }
}
.language-header {
    position: relative;
    z-index: 10;
    @media (min-width: ($md2+px)) {
        padding: 16px 6px 16px 16px;
        text-transform: uppercase;
    }
    &._change {
        .language-header__value {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }
    // .language-header__value
    &__value {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        cursor: pointer;
        font-size: 20px;
        @media (max-width: ($md2+px)) {
            justify-content: center;
            margin: 0px 0px 25px 0px;
        }
        &::before {
            margin: 0px 0px 0px 8px;
            font-size: 15px;
            transition: all 0.3s ease 0s;
            @media (max-width: ($md2+px)) {
                font-size: 12px;
            }
        }
        &._active {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }
    // .language-header__items
    &__items {
        @media (min-width: ($md2+px)) {
            border-radius: 8px;
            margin: 30px 0px 0px 0px;
            padding: 10px 0px;
            box-shadow: 0px 4px 12px rgba(2, 14, 5, 0.14);
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: -10px;
                right: 10px;
                border-bottom: 18px solid #fff;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
            }
        }
        @media (max-width: ($md2+px)) {
            position: relative;
            min-width: auto;
            top: auto;
            left: auto;
            background-color: transparent;
            opacity: 1;
            visibility: visible;
            transform: translate(0px, 0px);
        }
    }
    // .language-header__item
    &__item {
        color: inherit;
        display: block;
        @media (min-width: ($md2+px)) {
            padding: 6px 16px;
        }
        @media (max-width: ($md2+px)) {
            text-align: center;
            &:not(:last-child) {
                margin: 0px 0px 20px 0px;
            }
        }
        @media (any-hover: hover) {
            transition: all 0.3s ease 0s;
            &:hover {
                background: #e9f2fd;
            }
        }
    }
}

.profile-header {
    &._change {
        .profile-header__value-icon {
            transform: rotate(-180deg);
        }
    }
    @media (max-width: ($md2+px)) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // .profile-header__value
    &__value {
        display: flex;
        align-items: center;
        &._active {
            .profile-header__value-icon {
                transform: rotate(-180deg);
            }
        }
    }
    // .profile-header__value-image
    &__value-image {
        margin: 0px 8px 0px 0px;
        @media (max-width: ($md2+px)) {
            width: 40px;
        }
        img {
            max-width: 100%;
        }
    }
    // .profile-header__value-text
    &__value-text {
        margin: 0px 8px 0px 0px;
        @media (min-width: ($md2+px)) {
            display: none;
        }
    }
    // .profile-header__value-icon
    &__value-icon {
        font-size: 15px;
        transition: transform 0.3s ease 0s;
    }
    // .profile-header__body
    &__body {
        box-shadow: 4px 4px 20px rgba(0, 8, 81, 0.1);
        @media (min-width: ($md2+px)) {
            display: grid;
            gap: 16px;
            left: auto;
            right: 0;
            min-width: 237px;
            padding: 20px 16px;
            border-radius: 8px;
            margin: 34px 0px 0px 0px;
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: -10px;
                right: 10px;
                border-bottom: 18px solid #fff;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
            }
        }
        @media (max-width: ($md2+px)) {
            position: relative;
            min-width: auto;
            top: auto;
            left: auto;
            background-color: transparent;
            opacity: 1;
            visibility: visible;
            transform: translate(0px, 0px);
        }
    }
    // .profile-header__name
    &__name {
        display: flex;
        align-items: center;
        color: inherit;
        @media (max-width: ($md2+px)) {
            display: none;
        }
    }
    // .profile-header__name-image
    &__name-image {
        margin: 0px 8px 0px 0px;
        img {
            max-width: 100%;
        }
    }
    // .profile-header__name-text
    &__name-text {
        line-height: 140%;
    }
    // .profile-header__items
    &__items {
        @media (min-width: ($md2+px)) {
            border-top: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
            padding: 16px 0px;
        }
        @media (max-width: ($md2+px)) {
            margin: 0px 0px 32px 0px;
            padding: 40px 0px 0px 0px;
        }
    }
    // .profile-header__item
    &__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin: 0px 0px 12px 0px;
            @media (max-width: ($md2+px)) {
                margin: 0px 0px 32px 0px;
            }
        }
    }
    // .profile-header__item-image
    &__item-image {
        margin: 0px 10px 0px 0px;
        img {
            max-width: 100%;
        }
    }
    // .profile-header__item-text
    &__item-text {
    }
    // .profile-header__logout
    &__logout {
        display: flex;
        align-items: center;
        color: inherit;
    }
    // .profile-header__logout-image
    &__logout-image {
        margin: 0px 14px 0px 0px;
        display: flex;
        align-items: center;
        svg {
            max-width: 100%;
        }
        @media (max-width: ($md2+px)) {
            path {
                fill: #ff1f00;
            }
        }
    }
    // .profile-header__logout-text
    &__logout-text {
        @media (max-width: ($md2+px)) {
            color: #ff1f00;
        }
    }
}

// Icon-menu
.icon-menu {
    display: none;
    @media (max-width: ($md2+px)) {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:nth-child(2) {
                top: 50%;
                transform: translate(0px, -50%) scale(1);
            }
            &:first-child {
                top: 0;
            }
            &:last-child {
                bottom: 0;
            }
        }
        &._active {
            span {
                &:nth-child(2) {
                    transform: translate(0px, -50%) scale(0);
                }
                &:first-child {
                    transform: translate(0px, -50%) rotate(-45deg);
                    top: 50%;
                }
                &:last-child {
                    transform: translate(0px, 50%) rotate(45deg);
                    bottom: 50%;
                }
            }
        }
    }
}
