//<FORM ()>====================================================================================================
.form {
	&__rows {
		display: grid;
		gap: 24px;
	}
	&__row {
		display: grid;
		gap: 24px;
		@media (min-width: ($md3+px)) {
			grid-template-columns: repeat(2, 1fr);
			gap: 14px;
		}
	}
	&__column {
	}
	&__line {
	}
	&__input {
		display: flex;
		align-items: center;
		padding: 11px 20px;
		border-radius: 8px;
		background-color: #fff;
		border: 1px solid $lightBlueColor;
		position: relative;
		min-height: 53px;
		transition: all 0.3s ease 0s;
		&_textarea {
			min-height: 120px;
			align-items: flex-start;
		}
		&._error {
			border-color: #ff1f00;
		}
		&_password {
			.input {
				margin: 0px 10px 0px 0px;
			}
		}
		&._focus {
			border-color: $blueColor;
		}
	}
	&__error {
		position: absolute;
		top: 100%;
		left: 0;
		font-family: $fontInter;
		color: #ff1f00;
		font-size: 12px;
		line-height: 140%;
	}
	&__eye {
		cursor: pointer;
		position: relative;
		&._show {
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			top: 0;
			left: 0;
			background-color: $mainColor;
			top: 50%;
			transform: translate(0, -50%) rotate(35deg);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}
		&._show {
		}
		img {
			max-width: 100%;
		}
	}

	// .form__select
	&__select {
	}
	&__button {
	}
}
//</FORM>====================================================================================================
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 8px;
	font-weight: 500;
	font-size: 18px;
	min-width: 180px;
	min-height: 53px;
	padding: 14px 12px;
	color: inherit;
	&_main {
		background-color: $blueColor;
		color: #fff;
		@media (any-hover: hover) {
			border: 1px solid $blueColor;
			transition: all 0.3s ease 0s;
			&:hover {
				color: $blueColor;
				background-color: #fff;
			}
		}
	}
	&_more {
		background-color: transparent;
		@media (any-hover: hover) {
			&:hover {
				span {
					&::after {
						width: 100%;
					}
				}
			}
			span {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					width: 0%;
					height: 2px;
					top: 100%;
					left: 0;
					background-color: #fff;
					transition: width 0.3s ease 0s;
				}
			}
		}
	}
	&_white {
		color: $mainColor;
		background-color: #fff;
		@media (any-hover: hover) {
			transition: all 0.3s ease 0s;
			&:hover {
				color: $blueColor;
			}
		}
	}
	&._fw {
		width: 100%;
	}
}

//<SELECT>====================================================================================================
.select {
	position: relative;
	z-index: 2;
	&_icon {
		&._active {
			.select__value {
				border-color: $blueColor;
			}
		}
		.select__title {
			display: flex;
			align-items: center;
			padding: 0px 3px 0px 0px;
			.input {
				margin: 0px 0px 0px 10px;
			}
			@media (max-width: ($md3+px)) {
				padding: 0px 20px 0px 0px;
				.input {
					margin: 0px 0px 0px 12px;
				}
			}
		}
		.select__value {
			border-right: 1px solid $lightBlueColor;
			padding: 11px 6px 11px 16px;
			transition: border-color 0.3s ease 0s;
			span {
				font-size: 24px;
				height: auto;
				overflow: visible;
				display: flex;
				align-items: center;
				margin: 0px 4px 0px 0px;
			}
		}
		.select__option {
			display: flex;
			align-items: center;
			font-size: 14px;
			&::before {
				font-size: 24px;
				margin: 0px 10px 0px 0px;
			}
		}
	}
	// .select__item
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
		color: $mainColor;
		border: 1px solid $lightBlueColor;
		background-color: #fff;
		cursor: pointer;
		border-radius: 8px;
		transition: border-color 0.3s ease 0s;
	}
	// .select__value
	&__value {
		display: flex;
		font-size: 18px;
		font-weight: 500;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		color: $mainColor;
		// padding: 11px 20px;
		padding: 11px 10px 11px 20px;
		height: 53px;
		@media (max-width: ($md3+px)) {
			font-size: 16px;
		}
		span {
			height: 1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		&:before {
			transition: all 0.3s ease 0s;
			width: 24px;
			height: 24px;
			font-size: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__input {
		width: 100%;
		height: 100%;
		background-color: transparent;
		margin: 0px 7px 0px 0px;
	}
	// .select__value-items {
	// 	display: grid;
	// 	grid-auto-flow: column;
	// 	gap: 6px;
	// 	height: auto;
	// 	span {
	// 		height: auto;
	// 	}
	// }
	// .select__value-item {
	// 	display: flex;
	// 	background: $blueColor;
	// 	color: #fff;
	// 	padding: 8px 12px;
	// 	border-radius: 8px;
	// }
	// .select__value-item-text {
	// 	margin: 0px 8px 0px 0px;
	// }
	// .select__value-item-close {
	// 	display: inline-block;
	// 	flex: 0 0 16px;
	// 	width: 16px;
	// 	height: 16px;
	// 	background: url(../img/icons/close-white.svg) 50% 50% no-repeat;
	// }
	// .select__options
	&__options {
		color: #000;
		position: absolute;
		top: 100%;
		border-radius: 8px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border: 1px solid #efefef;
		box-shadow: 4px 4px 20px rgba(0, 8, 81, 0.1);
		font-size: 18px;
		line-height: 120%;
		font-weight: 500;
		padding: 5px 16px;
		// padding: 10px 0px 5px 0px;
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 12px 0px;
		margin: 0px 0px 0px 0px;
		// font-size: 16px;
		font-size: 14px;
		font-weight: 500;
		&:not(:last-child) {
			border-bottom: 1px solid #efefef;
		}
		@media (any-hover: hover) {
			&:hover {
				// background: $lightBlueColor;
			}
		}
	}
	&._active {
		z-index: 5;
		.select__title {
			border-color: $blueColor;
		}
		.select__value {
			&:before {
				transform: rotate(-180deg);
			}
		}
		.select__options {
			display: block;
		}
	}
}
//</SELECT>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}
.input {
	border-radius: 0 !important;
	width: 100%;
	height: 100%;
	display: block;
	padding: 0px;
	background-color: transparent;
	font-size: 18px;
	line-height: 140%;
	font-weight: 500;
	color: $mainColor;
	@media (max-width: ($md3+px)) {
		font-size: 16px;
	}
	&::placeholder {
		opacity: 1;
		color: #d1d1d1;
	}
	&._focus {
	}
	&._error {
	}
}
textarea.input {
	resize: none;
}
//</INPUT>====================================================================================================