@use "sass:math";
@import "mixins";
@import "fonts";
@import "icons";

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "gothampro";
$fontSize: 18;
//</Шрифт по умолчанию>==========================================================================================
$fontInter: "inter";
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 375px;
$iphone: 420px;
$maxWidth: 1440;
$containerPadding: 20;
$maxWidthContainer: 1200 + ($containerPadding * 2);
$md0: 992;
$md1: $maxWidthContainer + 20;
$md2: 1023.98;
$md3: 767.98;
$md4: 479.98;

$third: 33.333%;

$mainColor: #1f2024;
$blueColor: #0074ff;
$lightBlueColor: #cdd9e8;

//</ПЕРЕМЕННЫЕ>===========================================================================================================
// null
@import "null";
body {
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {
    }
}
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding-right: ($containerPadding + px);
    padding-left: ($containerPadding + px);
}
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
// @import "nouislider";
@import "popup";
@import "_header";
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
    flex: 1 1 auto;
    position: relative;
    &._no-full {
        padding-top: 72px;
        @media (max-width: ($md2+px)) {
            padding-top: 60px;
        }
    }
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
@import "_fullscreen";
@import "_home";
@import "_company";
@import "_contacts";
@import "_mediation";
@import "_footer";
